<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<div class="container">
  <% if (student.flag === "yellow") { %>
    <h1 id="studentName" class='mt-3 text-center bg-warning'><%= student.firstName %> <%= student.lastName %></h1>
  <% } else if (student.flag === "orange") { %>
    <h1 id="studentName" class='mt-3 text-center btn-orange'><%= student.firstName %> <%= student.lastName %></h1>
  <% } else if (student.flag === "red") { %>
    <h1 id="studentName" class='mt-3 text-center bg-danger text-white'><%= student.firstName %> <%= student.lastName %></h1>
  <% } else { %>
    <h1 id="studentName" class='mt-3 text-center'><%= student.firstName %> <%= student.lastName %></h1>
  <% } %>
  <div class="row mb-3">
    <div class="col-12 text-center"><h3 class='subtitle'>Total Time: <%= totalTime %> minutes</h3></div>
  </div>
  <div class="row mb-4 justify-content-center">
    <button type="button" id="flagRemoveBtn" name="removeFlag" class="btn btn-primary btn-lg mx-3">Remove Flag</button>
    <button type="button" id="flagYellowBtn" name="flagYellow" class="btn btn-warning btn-lg mx-3">Flag Yellow</button>
    <button type="button" id="flagOrangeBtn" name="flagOrange" class="btn btn-orange btn-lg mx-3">Flag Orange</button>
    <button type="button" id="flagRedBtn" name="flagRed" class="btn btn-danger btn-lg mx-3">Flag Red</button>
  </div>
  <table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Time</th>
      <th scope='col'>In/Out</th>
    </tr>
  </thead>
    <% punches.forEach((punch) => { %>
    <tr>
      <td><%= punch.date %></td>
      <td><%= punch.time %></td>
      <td><%= punch.type.charAt(0).toUpperCase() + punch.type.slice(1) %></td>
    </tr>
    <% }); %>
  </table>
</div>

<script>const studentId = <%= student.studentId %></script>
<script src="/js/studentsShow.js"></script>
<%- include('./partials/footer') %>
